# Build and Release Folders
bin/
bin-debug/
bin-release/
out/
target/
lib/

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml

*.zip
*.7z
*.rar
*.gz
*.bz2
*.tar

*.opensdf
*.sdf
*.suo